* {
   box-sizing: border-box;
}

body {
   font-family: helvetica,arial,sans-serif;
   background: #ddd;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: #66f;
}

small {
   color: #666;
}

table {
  border-collapse: collapse;
}

table td {
  padding: 15px;
}

table tr {
  border-bottom: 1px solid #eee;
}

table tr:last-child {
  border-bottom: none;
}

header {
   background: #300;
   border-bottom: 1px solid #800;
}

header h1 {
   margin: 0 auto;
   width: 940px;
   color: white;
   padding: 5px 20px;
}

h2 {
  font-size: 110%;
}

h3 {
  font-size: 100%;
  font-weight: bold;
  color: #666;
}

#breadcrumbs {
   width: 940px;
   margin: 10px auto;
   padding: 0 20px;
   color: #666;
   font-size: 80%;
   background: white;
   padding: 10px 20px;
}

#node-type {
  width: 940px;
  margin: 0 auto;
  height: 4px;
}

#content {
   width: 940px;
   margin: 0 auto 10px auto;
   background: white;
   padding: 10px 20px;
}

.meter-wrap {
    display: inline-block;
    width: 200px;
    position: relative;
    top: 1px;
    background: lightgrey;
    height: 12px;
    border-radius: 3px;
}

.meter-value {
    display: inline-block;
    background: rgb(119, 154, 173);
    height: 12px;
    position: relative;
    top: -2px;
    border-radius: 3px;
}

.library-node-list {
   margin: 0;
   padding: 0;
}

.library-node-list li {
   display: inline-block;
   padding: 5px;
   margin: 0 0 5px 0;
   border-radius: 4px;
   font-size: 80%;
   width: 200px;
}

.library-node-list li a {
   font-weight: bold;
   color: white;
}

.library-node-list li.slow-node {
    background-image: url(/static/slow-node.png);
    background-repeat: no-repeat;
    background-position: 98% 50%;
}

.library-node-list span.js {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    float: right;
    padding-top: 4px;
}

.library-node-list .node-name {
  font-size: 90%;
  display: inline-block;
  width: 125px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.library-node-list .node-image {
   margin: 0 10px 0 0;
   width: 26px;
   height: 26px;
   vertical-align: middle;
}

.node-detail .node-image {
  margin: 0 10px 0 0;
  width: 26px;
  height: 26px;
  vertical-align: middle;
}

.node-detail {
  width: 400px;
  color: white;
  margin: 0 0 10px 0;
  border-radius: 4px;
  padding: 5px;
}

.node-detail h2 {
  margin: 0 0 0 0;
}

.node-detail .node-type {
   opacity: 0.6;
   font-size: 80%;
   vertical-align: baseline;
}

.node-detail .node-description, .node-detail .node-function {
  padding-left: 42px;
}

.node-detail .node-function {
  font-size: 80%;
  opacity: 0.9;
  position: relative;
  top: -2px;
  margin-bottom: 1em;
}

.node-port-list {
   color: white;
   margin: 0;
   padding: 0;
}

.node-port-list li {
   display: block;
   width: 200px;
   margin: 0 0 10px 0;
   padding: 5px;
   border-radius: 4px;
}

.node-port-list .port-type {
   opacity: 0.6;
   font-size: 80%;
   vertical-align: baseline;
}

a .node-name {
  color: white;
}

.type-int, .type-int a .node-name {
   background: rgb(116, 119, 121);
}

.type-float, .type-float a .node-name {
   background: rgb(116, 119, 121);
}

.type-string, .type-string a .node-name {
   background: rgb(92, 90, 91);
}

.type-boolean, .type-boolean a .node-name {
   background: rgb(92, 90, 91);
}

.type-color, .type-color a .node-name {
   background: rgb(92, 90, 91);
}

.type-geometry, .type-geometry a .node-name {
   background: rgb(20, 20, 20);
}

.type-image, .type-image a .node-name {
  background: #000;
}

.type-point, .type-point a .node-name {
   background: rgb(119, 154, 173);
}

.type-list, .type-list a .node-name {
   background: rgb(76, 137, 174);
}

.type-data, .type-data a .node-name {
   background: rgb(52, 85, 129);
}

.type-None, .type-None a .node-name {
   /* These nodes have no type set. Mark them as an error! */
   background: red;
}
