{% extends "base.html" %}
{% block title %}{{ library.name|capitalize }} Library: {{ node.name }}{% endblock %}
{% block breadcrumbs %}
    <a href="/">Home</a> &raquo; 
    <a href="{{ library.absolute_url }}">{{ library.name}}</a> &raquo;
    {{ node.name }}
{% endblock %}
{% block nodetype %}
<div class="type-{{ node.output_type }}">&nbsp;</div>
{% endblock %}
{% block content %}

<div class="node-detail type-{{ node.output_type }}">
    <h2><img class="node-image" src="{{ node.image_url }}">
    <span class="node-name">{{ node.name}}</span>
    <span class="node-type">{{ node.output_type }}</span></h2>
    <div class="node-function">{{ node.function }}</div>
    <div class="node-description">{{ node.description }}</div>
</div>

<h3>Ports</h3>
<ul class="node-port-list">
{% for port in node.ports %}
<li class="type-{{ port.type }}">
    <span class="port-name">{{ port.name }}</span>
    <span class="port-type">{{ port.type }}</span>
</li>
{% else %}
<small>No ports.</small>
{% endfor %}
</ul>


{% endblock %}